@shadow: 0 2px 2px 0 #C2AD9B;
#registration, #manageclients, #manageprojects, #managetasks {
	#header {
		margin-bottom: 15px;
		span#headingtext {
		    color: #000000;
		    font-size: 16px;
		    font-weight: 600;	
		}
		.line-right {
		  margin: 4px;
		  border-right: 2px solid black;
		}
		.circle {
		    background-color: @tmCircleColor;
		    border-radius: 22px;
		    height: 22px;
		    padding: 1px;
		    text-align: center;
		    width: 22px;
			i {
	    		color: #FFFFFF;
	    		margin-top: 1px;
			}		    
		}
		i {
			font-size: 14px;
		}
		a {
			font-size: 12px;
			font-weight: 600;
			color: @tmCircleColor;
			text-decoration: underline;
			font-family: serif;
		}
		div.headerband {
			background: -moz-linear-gradient(center top , @tmHeaderTopColor, @tmHeaderBottomColor) repeat-x scroll left bottom @tmHeaderLeftBottomColor; 
			border: 4px solid @tmHeaderBorderColor; 
			border-radius: 4px 4px 4px 4px; 
			padding: 6px;
		}
	}
	.accountAction {
		margin-top: 10px;
		float:right;
		margin-left: 5px;
	}	
}

button.navigationbutton {
	background-color: @tmButtonBgColor;
	background-image: linear-gradient(to bottom, @tmButtonTopColor, @tmButtonBottomColor);
}

button.navigationbutton:hover {
	background-color: @tmButtonBgColor;
}

table#no-more-tables {
	border-collapse: separate;
	background-color: #FFFFFF;
	tr {
	    box-shadow: 1px 1px #888888, -1px -1px #F4F4F4, 2px 0 1px 1px #DDDDDD;
	    border: 0 none;
	}
	tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
		background-color: #F9F5DC;
	}	
	td {
		border: 0 none;
		border-left: 1px solid #DDDDDD;
		margin-top:10px;
		text-align: center;
		h4 {
			font-size: 16px;
			margin: 0;
		}
	}
	a {
		color: @h4-color;
	}	
	td[data-title=Name] {
		text-align: left;
		h4 {
			color: @h4-color;
		}
		h6 {
			margin: 0;
		}			
	}
	p {
		margin: 0 0 5px;
	}
	.icons {
	    text-align: center;
	}
	
	.icons .circle {
	    background-color: #474641;
	    border-radius: 20px;
	    display: inline-block;
	    height: 20px;
	    padding: 2px;
	    margin-right: 2em;
	    text-align: center;
	    width: 20px;
	}
	.icons i {
	    color: #FFFFFF;
	    cursor: pointer;
	    font-size: 15px;
	}
	
	.icons p {
		margin: 10px 0px;
	}
}

.modal form {
	margin: 0;
	.modal-header {
		background-color: @tmButtonBgColor;
		background-image: linear-gradient(to bottom, @tmButtonTopColor, @tmButtonBottomColor);
	}
	.modal-footer {
		i {
		    font-size: 14px;
		}
		/*.btn-primary {
			background: -moz-linear-gradient(center top , #ffcb1a, #ffb90c) repeat-x scroll left bottom #978a4c;
			color: #FFFFFF;			
		}*/
	}
}

.accordion-heading a.accordion-toggle { 
	display: inline-block;
	i {
    	font-size: 15px;
	}
}

.accordion-heading a { 
	margin-right: 10px; 
}